{% extends 'base.html'%}

{% block content%}

{% load cart%}
<div class="container-sm py-5 mt-3 mb-5" style="border: 1px solid red;">
    <div class="header">
        <h1>
            Your Orders
        </h1>
        <hr>
        <div class="index">
            <hr>
            <ul class="ms-5 me-5"
                style="text-align: left;display: flex; justify-content: space-around; text-transform: capitalize; font-weight: 2000;">
                <li>Sno.</li>
                <li>image</li>
                <li style="width:90PX;">order</li>
                <li>Date</li>
                <li>price</li>
                <li>Quantity</li>
                <li>Total</li>
                <li>Status</li>
            </ul>
            <hr>
        </div>
    </div>
    <div class="col lg-12 d-flex flex-column">
        {%for order in orders%}
        <div class="card" style="">
            <ul class="ms-5 me-5"
                style="text-align: left;display: flex; justify-content: space-around; text-transform: capitalize; font-weight: 2000;">
                <li>
                    {{order.id}}
                </li>
                <li>
                    <div class="" style="background-size:cover;">
                        <img width="60px" height="60px" src="{{order.image.url}}" style="background-size: inherit;"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                </li>
                <li>
                    <h5 class="card-title"> {{order.product.name}}</h5>
                </li>
                <li>
                    <p>{{order.date}}</p>
                  
                </li>
                <li>
                    <h5 class="card-title">{{order.product.price}}</h5>
                </li>
                <li>
                    <span>{{ order.quantity}}</span>
                </li>
                <li>
                    {{order.price}}
                </li>
                <li>
                    {{order.status}}
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
<!--    <div style="text-align: right;">-->
<!--        <h2>-->
<!--            {{total}}-->
<!--        </h2>-->
<!--    </div>-->
</div>


{%endblock%}